body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightskyblue;
    margin: 0;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container {
    background-color:moccasin ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset;
}

ul {
    list-style-type:square;
    padding: 0;
    align-items:flex-end;
    justify-content:space-around
}

li {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}